# Linters & Formatters
black==24.3.0
ruff==0.4.1

# Static Type Checker
mypy==1.15.0
pandas-stubs==2.2.1.240316
types-PyYAML==6.0.12.20250516

# Unit Testing
pytest==7.4.3
pytest-cov==4.1.0

# Shared dependencies (to prevent resolver conflicts)
numpy==1.26.4
click==8.1.8
streamlit==1.30.0
types-requests==2.31.0.10
